body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    width: 500px;
    height: 500px;
    background-color: silver;
}

h1{
    text-align: center;
    border: 1px solid black;
    height: 40px;
    width: 300px;
    margin: auto;
    margin-top: 50px;
    border-radius: 30px;
}

.menu{
    text-align: center;
}

.menu button{
    margin-top: 60px;
    width: 250px;
    height: 60px;
    border-radius: 45%;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;

}

.menu button:hover{
    background-color:seashell;
}

.prima, .faktorial, .pangkat {
    display: none;
}

.prima table, .faktorial table, .pangkat table {
    text-align: center;
    margin: auto;
    margin-top: 70px;
    width: 300px;
    height: 250px;
}

.prima #inp_prima, .faktorial #inp_fak{
    height: 30px;
    font-size: 20px;
    font-weight: bold;
}

.prima #bp_cek, .faktorial #bf_cek, .pangkat #bpp_cek{
    height: 35px;
    font-weight: bold;
    cursor: pointer;
}

.prima #tp_hasil, .faktorial #tf_hasil, .pangkat #tpp_hasil{
    font-weight: bold;
    font-size: 30px;
}

.prima #hasil, .faktorial #f_hasil, .pangkat #pp_hasil {
    resize: none;
    width: 310px;
    height: 100px;
    font-weight: bold;
    font-size: 40px;
}

.pangkat #inp_ap, .pangkat #inp_pangkat{
    height: 30px;
    width: 150px;
    font-size: 20px;
    font-weight: bold;
}

#kembali{
    float: right;
    margin-top: 50px;
    margin-right: 30px;
    font-weight: bold;
    height: 30px;
    cursor: pointer;
}